.tools {
    display: grid;
    place-items: center;
    width: 60rem;
    margin: auto;
}

.tools__buttons {
    display: flex;
    gap: 2rem;
    margin: 0.5rem;
}

button {
    background-color: #e9e5e5;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 15px;
    outline: none;
}

button:hover {
    background-color: #999898;
}

.selectables {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.selectGroup {
    width: 100%;
    margin: 1rem;
}

.selectCourseList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.selectCourse {
    height: 100%;
    width: 20rem;
    align-self: center;
}

.toolCourseGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.75rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.05);
}

.toolCourseGroup span {
    font-size: 0.75rem;
    font-style: italic;
}

.toolCourse {
    white-space: nowrap;
    width: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0.25rem;
    border-radius: 5px;
    background-color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.selected {
    box-shadow: 0 0 8px 0 rgb(0, 153, 255);
}

@media screen and (max-width: 1000px) {
    .tools {
        display: grid;
        place-items: center;
        width: 40rem;
        margin: auto;
    }


    .selectCourseList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        margin: 1rem 0;
    }

    .selectCourse {
        height: 100%;
        width: 20rem;
        align-self: center;
    }
}